[submodule "bundle/goyo.vim"]
	path = bundle/goyo.vim
	url = ./bundle/ctrlp.vim
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = /h/u10/g5/00/borkhodo/.vim/bundle/syntastic
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = /h/u10/g5/00/borkhodo/.vim/bundle/ctrlp.vim
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = /h/u10/g5/00/borkhodo/.vim/bundle/nerdcommenter
[submodule "bundle/vim"]
	path = bundle/vim
	url = /h/u10/g5/00/borkhodo/.vim/bundle/vim
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = /h/u10/g5/00/borkhodo/.vim/bundle/vim-airline
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = /h/u10/g5/00/borkhodo/.vim/bundle/vim-autoformat
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = /h/u10/g5/00/borkhodo/.vim/bundle/vim-colorschemes
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = /h/u10/g5/00/borkhodo/.vim/bundle/vim-fugitive
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = /h/u10/g5/00/borkhodo/.vim/bundle/vim-markdown
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = /h/u10/g5/00/borkhodo/.vim/bundle/vim-sensible
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = /h/u10/g5/00/borkhodo/.vim/bundle/vimproc.vim
[submodule "bundle/vimshell.vim"]
	path = bundle/vimshell.vim
	url = /h/u10/g5/00/borkhodo/.vim/bundle/vimshell.vim
